<div class="permissions" layout="row" layout-align="start" flex>
	<div class="permissions-main" layout="column" flex="33">
		<div class="permissions-header" layout="row" layout-align="start center" flex="5">
			<h3 flex>Current Users</h3>
			<div class="add-button" (click)="onAddUserClick()" *ngIf="userService.isAdmin()">ADD +</div>
		</div>
		<div class="permissions-row" layout="column" flex layout-align="start start">
			<div class="subheader" flex layout="row" layout-align="start end">
				<h5>ADMINS</h5>
			</div>
			<div class="user-row" flex *ngFor="let admin of admins" layout="row" layout-align="start center">
				<img class="user-avatar" src="{{'https://api.mtc.byu.edu/user/v1/users/' + admin.ldsid}}" alt="User Photo" width="30">
				<span flex>{{admin.fullName}}</span>
				<i class="material-icons edit-button" *ngIf="userService.isAdmin()" (click)="onEdit(admin)"> edit </i>
			</div>

			<div class="subheader" flex layout="row" layout-align="start end">
				<h5>USERS</h5>
			</div>
			<div class="user-row" flex *ngFor="let user of users" layout="row" layout-align="start center">
				<img class="user-avatar" src="{{'https://api.mtc.byu.edu/user/v1/users/' + user.ldsid}}" alt="User Photo" width="30">
				<span flex>{{user.fullName}}</span>
				<i class="material-icons edit-button" *ngIf="userService.isAdmin()" (click)="onEdit(user)"> edit </i>
			</div>
		</div>
		<div class="permissions-header" layout="row" layout-align="start center" flex="5">
			<h3 flex>Status List</h3>
			<div class="add-button" *ngIf="userService.isAdmin()">ADD +</div>
		</div>
	</div>
	<div flex></div>
</div>
