<mtc-env [includeVersion]="true"></mtc-env>
<mtc-dialog></mtc-dialog>
<mtc-layout></mtc-layout>
<simple-notifications [options]="toastOptions"></simple-notifications>
<md-toolbar flex color="primary">
	<div flex="5" id="mtc-logo">
		<img src="../assets/images/mtclogo.svg" alt="logo">
	</div>
	<span flex="20">Issue Tracker</span>
	<div flex></div>
	<span *ngIf="user" flex="10" class="user-name" layout="row" layout-align="end">
		{{userService.currentLdsAccount.name}}
			<i class="material-icons"> arrow_drop_down </i>
	</span>
</md-toolbar>
<div class="app-main" layout="column" flex>
	<app-sidebar layout="row"></app-sidebar>
	<div layout="column" flex class="main" id="main">
		<div class="content" layout="column" flex>
			<router-outlet></router-outlet>
		</div>
	</div>
</div>
