@import '../../../../main.less';

#sidebar-component {
	background-color:@black1;
	height: 35px !important;
	min-height: 35px !important;
	color: white;
	.route-name{
		padding-left: 8px;
		padding-right: 8px;
		font-size: 16px;
	}
	.create-new{
		color: white;
		font-size: 14px;
		height: 80%;
	}
	.active-route{
		background-color: @green2;
	}
	.route-container{
		height: 100%;
	}
}
